{{#partial "content"}}

    <h1> List o' stuff to do!</h1>

    {{#if eachCategory}}
        {{#each eachCategory}}
            <p>Category: <a href="/categories/{{id}}/tasks"> {{focus}}</a></p>
        {{/each}}

    {{else}}
        {{#if tasks}}
            <h3>Things to Do:</h3>
            <ul>
                {{#each tasks }}
                    <li><strong>{{ description }}</strong></li>
                    <p><em><a href="/tasks/{{id}}">Details.</a></em></p>
                {{/each}}
            </ul>
            <br>
            <hr>

            <p class="text-muted"><a href="/tasks/{{categoryID}}/deleteAll">Delete All Tasks</a></p>
        {{else}}
            <p>Nothing to do, congrats!</p>
            <p><a href="/tasks/new">Add a task</a></p>
        {{/if}}
    {{/if}}



{{/partial}}

{{> layout.hbs}}